@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    scroll-behavior: smooth;

    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    --navbar-altura: 70px;
    --cor-peach-light: #FBE4C0;
    /* Pêssego Claro */
    --cor-yellow-pale: #FBDCC0;
    /* Amarelo Pálido */
    --cor-cream: #FBE6C0;
    /* Creme */
    --cor-pink-light: #FBC3D1;
    /* Rosa Claro */

    --cor-blue-light: #BFDDE0;
    /* Azul Claro */
    --cor-green-pale: #C0E0BF;
    /* Verde Pálido */
    --cor-sky-blue: #BFE0EE;
    /* Azul Celeste */
    --cor-green-light: #C0E2BF;
    /* Verde Claro */

    --cor-primary: #FBC3C0;
    /* Sua primeira cor */
    --cor-secondary: #BFE0E2;
    /* Sua segunda cor */

    --cor-peach-dark: #F79D98;
    /* Pêssego Escuro */
    --cor-yellow-dark: #F8A872;
    /* Amarelo Escuro */
    --cor-cream-dark: #F8A572;
    /* Creme Escuro */
    --cor-pink-dark: #F88194;
    /* Rosa Escuro */

    --cor-blue-dark: #89BAC0;
    /* Azul Escuro */
    --cor-green-dark: #8BBB8F;
    /* Verde Escuro */
    /* --cor-sky-blue-dark: #8BB8D3; Azul Celeste Escuro */
    --cor-sky-blue-dark: #66899e;
    /* --cor-green-darker: #8CB386; Verde Escuro Mais Escuro */
    --cor-blue: #4A5773;
    --cor-green-darker: #658060;
    --cor-slate-blue: #2d464c;


}

@media (max-width: 577px) {

    .navbar-custom h1{
        font-weight: 600;
    }
    .navbar-custom,
    .navbar-list {
        display: flex;
        flex-direction: column;
    }

    .navbar-item {
        font-size: 1.2rem;
        margin-top: .7rem;
        margin-left: 0px !important;
    }
}

::selection {
    background-color: var(--cor-blue-dark);
}

body {
    background-color: var(--cor-sky-blue-dark);
    color: white;
}

.navbar-custom {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    color: var(--cor-slate-blue);
    background-color: var(--cor-blue-light);
    min-height: var(--navbar-altura);
}


.navbar-custom h1 a {
    color: var(--cor-slate-blue);
    font-size: 1.5rem;
    margin-right: 2rem;
}

.navbar-list {
    display: flex;
    flex-wrap: wrap;
}

.navbar-item {
    margin-left: 1.5rem;
}

.navbar-item a {
    color: var(--cor-slate-blue);
}

a {
    text-decoration: none;
}

#inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: calc(100vh - var(--navbar-altura)); */
    min-height: 100vh;
}

.texto-inicio {
    font-family: 'Mooli', sans-serif;
    margin: 0 20rem 0 20rem;
    line-height: 4.5rem;
    text-align: center;
}

.texto-inicio p:first-child {
    font-size: 4rem;
}

.texto-inicio p:nth-child(2) {
    color: var(--cor-peach-light);
    padding: .5rem 0 0;
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.botoes-inicio {
    display: flex;
    justify-content: center;
}

.botao-inicio {
    color: white;
    font-weight: 600;
    cursor: pointer;
    margin: 0 20px;
    width: 150px;
    padding: 14px;
    border-radius: 65px;
    border: solid white 1px;
    background-color: var(--cor-sky-blue-dark);
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.botao-inicio:hover {
    color: var(--cor-blue);
    border: none;
    background-color: white;
}

#meio {
    font-size: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh);

}

.conteudo-meio {
    color: white;
    font-family: 'Mooli', sans-serif;
    font-size: 2.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo-meio img {
    margin-bottom: 2rem;
    border-radius: 6rem;
    width: 50vw;
}


.balloon {
    position: absolute;
    top: -8rem;
    left: -5rem;
}

#fim {
    font-size: 2.7rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-fim {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    background-color: var(--cor-peach-light);
    padding: 16rem 2rem 12rem 2rem;
    border-radius: 5rem;
}

.texto-fim {
    color: var(--cor-slate-blue);
    text-align: center;
    z-index: 1;
    padding-bottom: 50px;
    line-height: 3.5rem;
}

.botoes-fim {
    display: flex;
}

.botao-fim {
    color: var(--cor-slate-blue);
    font-weight: 600;
    cursor: pointer;
    margin: 0 20px;
    width: 150px;
    padding: 14px;
    border-radius: 65px;
    border: solid var(--cor-slate-blue) 1px;
    background-color: var(--cor-peach-light);
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
}

.botao-fim:hover {
    color: var(--cor-peach-light);
    border: none;
    background-color: var(--cor-slate-blue);
}

#extra {
    min-height: 100vh !important;
    display: flex;
    justify-content: center;
}

.conteudo-extra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}


.texto-extra {
    color: var(--cor-cream);
    font-family: 'Mooli', sans-serif;
    font-size: 2.8rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

.texto-extra p:nth-child(2) {
    color: var(--cor-slate-blue);
    font-size: 2.5rem;
}

.texto-extra p {
    margin-bottom: 1rem;
}

.headphone {
    border-radius: 30rem;
    width: 20rem;
    transition: filter 0.6s ease-in-out;
}

.headphone:hover {
    filter: hue-rotate(200deg);
}

#tabela {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

caption {
    display: none;
}

.titulo-tabela {
    font-family: 'Mooli', sans-serif;
    margin: 6rem 0 4rem;
    text-align: center;
    line-height: 4.5rem;
}

.titulo-tabela h2 {
    color: var(--cor-pink-light);
    font-size: 4rem;
}

.titulo-tabela p {
    color: white;
    font-size: 2.5rem;
}

.conteudo-tabela {

    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: .5rem;
    border-radius: 2rem;
    width: fit-content;
    font-size: 2rem;
    font-weight: 200;
}



th {
    text-align: start;
    font-weight: 400;
}

td,
th {
    border-bottom: .1rem solid var(--cor-yellow-pale);
    width: 20rem;
    padding: .5rem;
}

td:hover,
th:hover {
    color: var(--cor-yellow-pale);
}

#formulario {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteudo-formulario {
    display: flex;
    align-items: center;
    color: var(--cor-slate-blue);
    background-color: var(--cor-sky-blue);
    border-radius: 4rem;
    padding: 3rem 2rem;
    width: 80vw;
    min-height: 60vh;
    justify-content: space-between;
}

.conteudo-formulario form {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#formulario h2 {
    visibility: hidden;
    font-weight: 200;
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.texto-formulario {
    font-family: 'Mooli', sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    width: 50%;
}

.texto-formulario p:last-child {
    color: var(--cor-green-darker);
}


#formulario form label {
    font-size: 1.8rem;
}

#formulario form label,
#formulario form input,
#formulario form textarea {
    margin-bottom: .6rem;
}

#formulario form input,
#formulario form textarea {
    font-family: 'Poppins', sans-serif;
    padding: .5rem;
    color: white;
    font-size: 1.5rem;
    height: 2rem;
    background-color: var(--cor-sky-blue-dark);
    border: none;
    border-radius: .4rem;
    min-height: 3rem;
}

#formulario form textarea {
    min-height: 9rem;
}

#formulario form button {
    background-color: var(--cor-sky-blue-dark);
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    border: none;
    border-radius: .4rem;
    min-height: 3rem;
}

.footer-texto {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: .5rem 1rem;
    line-height: 1.3rem;
}

.footer-texto a {
    color: rgb(236, 236, 236);
    /* color: var(--cor-pink-light); */
}

/* @media (min-width: 577px) and (max-width: 1200px) { */
@media (max-width: 1200px) {

    .texto-inicio {
        margin: 0;
        font-size: 2.5rem;
    }

    .texto-inicio p:first-child {
        font-size: 3rem;
    }

    .texto-inicio p:nth-child(2) {
        font-size: 1.5rem;
    }


    .conteudo-meio img {
        width: 80vw;
    }

    .balloon {
        width: 30vw;
        top: -15%;
    }

    .conteudo-fim {
        width: 80vw;
    }


    .headphone {
        width: 25rem;
    }

    .conteudo-extra {
        flex-direction: column;
    }

    .texto-extra {
        margin-top: 2.5rem;
    }


    .titulo-tabela h2 {
        font-size: 3rem;
    }

    .titulo-tabela p {
        font-size: 1.5rem;
    }


    .conteudo-formulario {
        flex-direction: column;
    }

    .texto-formulario {
        font-size: 2rem;
        width: auto;
    }

    .texto-formulario {
        width: auto;
    }

    .conteudo-formulario form {
        text-align: center;
        margin-top: 2rem;
        width: 90%;
    }

}

@media (max-width: 576px) {


    .texto-inicio {
        margin: 0;
        font-size: 2rem;
    }

    .texto-inicio p:first-child {
        font-size: 3rem;
    }

    .texto-inicio p:nth-child(2) {
        font-size: 1.5rem;
    }


    .balloon {
        width: 40vw;
        /* top: -2rem; */
        top: -5%;
    }

    .conteudo-meio img,
    .conteudo-fim,
    .conteudo-extra,
    .conteudo-formulario {
        width: 100vw;
        border-radius: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .conteudo-extra {
        width: 100vw;
    }

    .headphone {
        width: 90vw;
    }

    .texto-extra {
        margin: 2.5rem 0;
        font-size: 2rem;
    }

    .texto-extra p:nth-child(2) {
        color: var(--cor-slate-blue);
        font-size: 1.8rem;
    }

    .titulo-tabela {
        line-height: 2rem;
        margin-bottom: 2rem;
    }

    .titulo-tabela h2 {
        font-size: 2rem;
    }

    .titulo-tabela p {
        font-size: 1rem;
    }

    #tabela {
        margin-top: 0;
    }

    .conteudo-tabela {
        font-size: 1.5rem;
    }

    .conteudo-formulario {
        padding: 3rem 0;
    }

    .texto-formulario {
        font-size: 1.6rem;
    }

    .texto-formulario:first-child {
        font-size: 2rem;
    }
}